<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>首页</title>
    <script src="../../resources/assets/plugins/jquery.js"></script>
    <script src="../../resources/assets/plugins/mobile/js/mui.min.js"></script>
    <script type="text/javascript" src="../../resources/assets/mobile/front/js/index.js"></script>
    <link href="../../resources/assets/plugins/mobile/css/mui.min.css" rel="stylesheet"/>
    <link href="../../resources/assets/mobile/common/css/common.css" rel="stylesheet"/>
    <link href="../../resources/assets/mobile/front/css/index.css" rel="stylesheet"/>
    <link href="../../resources/assets/plugins/mobile/css/iconfont.css" rel="stylesheet"/>
    <link href="../../resources/assets/mobile/front/css/courseList.css" rel="stylesheet" />
    <script src="../../resources/assets/front/js/main.js"></script>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</head>
<body>
	<header class="mui-bar mui-bar-nav index_nav">
	    <a class="mui-icon mui-icon-arrowleft" href="courseList.html"></a>
	    <h1 class="mui-title"></h1>
	    <a href="index_search.html" class="mui-icon mui-icon-search" id="index_search" style="float: right;"></a>
	</header>
	<div class="mui-content index_content">
			<div class="banner_box">
	  			<div class="title_bg">
	  				<p>
	  					<span>vagran打造跨平台</span><br /><span>可移动的开发环境</span>
	  				</p>
	  			</div>
	  			<!--icon-->
	  			<div class="icon">
	  				<div class="collect_icon">  					
	  						<i class="iconfont">&#xe622;</i>
	  				</div>
	  				<div class="downloads_icon">  					
	  						<i class="iconfont">&#xe63a;</i>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="products_description">
	  			<h4 class="coursedetails_title">课程简述：</h4>
	  			<p>
					本课程将带你走进TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API本课程将带你走进TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API
					本课程将带你走进TP5+小程序+微信支付+MySQL做一套适用于中小
	  			</p>
	  			<small>
	  				浏览人数：3562人 
	  				学习人数：5562人 <br />
	  				开课时间：2017年5月9日
	  			</small>
	  			<!--button-->
		  		<div class="sign">
					<a href=" ">报名</a>
				</div>
	  		</div>
	  		<!--teacher-->
	  		<div class="teacher_details mg">
	  			<div class="courseInfor_teacherImg">
	  				<img src="../../resources/imgs/mobile/teacher1.jpg" alt="" class="courseInfor_teacherImg" />
	  			</div>
	  			<div class="info">
	  				<h4>Alex Wang</h4>
	  				<h5>XX讲师</h5>				
	  			</div>
	  			<a href=""><span class="iconfont" style="float: right;">&#xe64c;</span></a>
	  		</div>
	  		<!--course introduction-->
	  		<div class="course_introduction mg">
	  			<h4 class="coursedetails_title">课程简介</h4>
				<p class="limit" style="text-indent: 25px;">
									《清华风物》旨在选取清华大学百年办学历程中所积淀下来的具有代表性的景观、
					建筑、纪念物及人物、团体、精神承载物等，秉持纵跨世纪、横贯东西的“大历史观”，
					以新颖的视角和人、景、事、情的浑然融合，艺术化地激活沉默的记忆，用影像铭刻
					和传承大学文化。在广泛传播清华校史校情的同时，旨在激发青年学生、教师、校友
					和广大社会同好的爱校爱国热情，实现“让历史告诉未来”的价值塑造功能。另一方面，
					也多维度地展示清华的校园风貌、精神文化和办学理念，树立良好的大学形象，推动
					大学文化的传承与创新。修习本课程，不但能了解清华园中富有教育意义和文化内涵的各类风物，
					也为学生深入探讨近现代国情和高度教育发展史、感受中国文化的魅力提供了独特的视角和体验。
				</p>
				<a href="javascript:void(0)" class="text_hide">[查看全部]</a>
	  		</div>
	  		<!--course outline-->
	  		<div class="course_outline mg">
	  			<h4 class="coursedetails_title">课程提纲</h4>
	  			<ul class="chapter">
	  				<h4 class="coursedetails_title">色差</h4>
	  				<li><a href=""><span>▷</span>位置色差</a></li>
	  				<li><a href=""><span>▷</span>初级位置色差</a></li>
	  				<li><a href=""><span>▷</span>平行平板的位置色差</a></li>
	  				<li><a href=""><span>▷</span>薄透镜和薄透镜系统的初级位置色差</a></li>
	  				<li><a href=""><span>▷</span>二级光谱</a></li>
	  				<li><a href=""><span>▷</span>倍率色差</a></li>
	  				<li><a href=""><span>▷</span>初级倍率色差</a></li>
	  				<li><a href=""><span>▷</span>薄透镜系统的初级倍率色差</a></li>
	  				<li><a href=""><span>▷</span>光学系统消像查谱线的选择</a></li>
	  			</ul>
	  		</div>
	</div>
</body>
</html>