<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../../resources/assets/plugins/mobile/js/mui.min.js"></script>
    <script src="../../resources/assets/mobile/front/js/iconfont.js" ></script>
    <script src="../../resources/assets/plugins/jquery.min.js"></script>
    <script src="../../resources/assets/mobile/front/js/index.js"></script>
    <link href="../../resources/assets/plugins/mobile/css/mui.min.css" rel="stylesheet"/>
    <link href="../../resources/assets/mobile/common/css/common.css" rel="stylesheet"/>
    <link href="../../resources/assets/mobile/front/css/index.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</head>
<body>
	<div class="finding">
		<header class="mui-bar mui-bar-nav index_nav">
		    <a class="mui-icon mui-icon-arrowleft" href="index.html"></a>
		    <h1 class="mui-title">发现</h1>
		</header>
		<div class="class_share2 mui-content">
		    	<textarea placeholder="请输入你的动态内容"></textarea>
		</div>
		<div class="mui-content find">
		    <nav>
		    	<ul>
		    		<li><a href="#" class="find_cur">动态</a></li>
		    		<li><a href="#">广场</a></li>
		    	</ul>
		    </nav>
		    
		    <div class="class_share">
		    	<div class="case">
		    		<div class="left">
		    			<img src="../../resources/imgs/mobile/find/head.jpg" alt="" />
		    		</div>
		    		<div class="right">
		    			<div class="commit">
		    				<p class="name">苦逼的程序猿</p>
		    				<p class="time">2016-12-13</p>
		    				<p class="word">苦逼的看完了</p>
		    			</div>
		    			<div class="passage">
		    				<dl class="clearfix">
		    					<dt>
		    						<img src="../../resources/imgs/mobile/find/case-img.jpg" alt="" />		
		    					</dt>
		    					<dd>
		    						C语言学习攻略
		    					</dd>
		    				</dl>
		    			</div>
		    		</div>
		    	</div>
		    	<div class="case">
		    		<div class="left">
		    			<img src="../../resources/imgs/mobile/find/head.jpg" alt="" />
		    		</div>
		    		<div class="right">
		    			<div class="commit">
		    				<p class="name">苦逼的程序猿</p>
		    				<p class="time">2016-12-13</p>
		    				<p class="word">苦逼的看完了</p>
		    			</div>
		    			<div class="passage">
		    				<dl class="clearfix">
			    					<dt>
			    						<img src="../../resources/imgs/mobile/find/case-img.jpg" alt="" />		
			    					</dt>
		    					<dd>
		    						C语言学习攻略
		    					</dd>
		    				</dl>
		    			</div>
		    		</div>
		    	</div>
				<div class="case">
		    		<div class="left">
		    			<img src="../../resources/imgs/mobile/find/head.jpg" alt="" />
		    		</div>
		    		<div class="right">
		    			<div class="commit">
		    				<p class="name">苦逼的程序猿</p>
		    				<p class="time">2016-12-13</p>
		    				<p class="word">苦逼的看完了</p>
		    			</div>
		    			<div class="passage">
		    				<dl class="clearfix">
			    					<dt>
			    						<img src="../../resources/imgs/mobile/find/case-img.jpg" alt="" />		
			    					</dt>
		    					<dd>
		    						C语言学习攻略
		    					</dd>
		    				</dl>
		    			</div>
		    		</div>
		    	</div>
		    </div>
			<div class="class_share">
		    	<div class="case">
		    		<div class="left">
		    			<img src="../../resources/imgs/mobile/find/head.jpg" alt="" />
		    		</div>
		    		<div class="right">
		    			<div class="commit">
		    				<p class="name">苦逼的程序猿</p>
		    				<p class="time">2016-12-13</p>
		    			</div>
		    			<div class="passage">
		    				<p class="write">瞬间爆炸瞬间爆炸瞬间爆炸瞬间爆炸瞬间爆炸瞬间爆炸瞬间爆炸</p>
		    				<div class="icons">
		    					<svg class="icon" aria-hidden="true">
								  <use xlink:href="#icon-dianzan"></use>
								</svg>
								<span class="dz-num">0</span>
								<svg class="icon" aria-hidden="true">
								  <use xlink:href="#icon-xiaoxi"></use>
								</svg>
								<span class="apply-num">0</span>
		    				</div>
		    				
		    			</div>
		    		</div>
		    	</div>	
				<div class="case">
		    		<div class="left">
		    			<img src="../../resources/imgs/mobile/find/head.jpg" alt="" />
		    		</div>
		    		<div class="right">
		    			<div class="commit">
		    				<p class="name">苦逼的程序猿</p>
		    				<p class="time">2016-12-13</p>
		    			</div>
		    			<div class="passage">
		    				<p class="write">瞬间爆炸瞬间爆炸瞬间爆炸瞬间爆炸瞬间爆炸瞬间爆炸瞬间爆炸</p>
		    				<div class="icons">
		    					<svg class="icon" aria-hidden="true">
								  <use xlink:href="#icon-dianzan"></use>
								</svg>
								<span class="dz-num">0</span>
								<svg class="icon" aria-hidden="true">
								  <use xlink:href="#icon-xiaoxi"></use>
								</svg>
								<span class="apply-num">0</span>
		    				</div>
		    				
		    			</div>
		    		</div>
		    	</div>	
				<div class="case">
		    		<div class="left">
		    			<img src="../../resources/imgs/mobile/find/head.jpg" alt="" />
		    		</div>
		    		<div class="right">
		    			<div class="commit">
		    				<p class="name">苦逼的程序猿</p>
		    				<p class="time">2016-12-13</p>
		    			</div>
		    			<div class="passage">
		    				<p class="write">瞬间爆炸瞬间爆炸瞬间爆炸瞬间爆炸瞬间爆炸瞬间爆炸瞬间爆炸</p>
		    				<div class="icons">
		    					<svg class="icon" aria-hidden="true">
								  <use xlink:href="#icon-dianzan"></use>
								</svg>
								<span class="dz-num">0</span>
								<svg class="icon" aria-hidden="true">
								  <use xlink:href="#icon-xiaoxi"></use>
								</svg>
								<span class="apply-num">0</span>
		    				</div>
		    				
		    			</div>
		    		</div>
		    	</div>	
				<div class="apply-input">
					<input/>
					<svg class="icon" aria-hidden="true">
					  <use xlink:href="#icon-xiaolian"></use>
					</svg>
					<a href="#">发送</a>
				</div>
			</div>
		    
		    <div class="tool">
		    	<img src="../../resources/imgs/mobile/find/pencil.png" alt="" />
		    </div>
		</div>
	</div>
</body>
</html>