<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <title></title>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link href="../../resources/assets/plugins/mobile/css/mui.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="../../resources/assets/mobile/front/css/index.css" />
        <script src="../../resources/assets/plugins/mobile/js/mui.js"></script>
    </head>
    <body>
		<div class="mui-slider">
	  			<div id="index_banner" class="mui-slider-group index_banner">
				    <div class="mui-slider-item"><a href="#"><img src="../../resources/imgs/mobile/guid_adv1.jpg" /></a></div>
				    <div class="mui-slider-item"><a href="#"><img src="../../resources/imgs/mobile/guid_adv2.jpg" /></a></div>
				    <div class="mui-slider-item">
				    	<a href="index.html"><img src="../../resources/imgs/mobile/guid_adv3.jpg" /></a>
				    </div>
	  			</div>
	  			<div class="mui-slider-indicator guid_content">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>
  			</div>
    </body>