<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>搜索</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../resources/assets/plugins/mobile/js/mui.min.js"></script>
	    <link href="../../resources/assets/plugins/mobile/css/mui.min.css" rel="stylesheet"/>
	    <link href="../../resources/assets/mobile/common/css/common.css" rel="stylesheet"/>
	    <link href="../../resources/assets/mobile/front/css/index.css" rel="stylesheet"/>
		<script type="text/javascript">
			mui.init();
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav index_nav">
		    <input type="text" value="输入想要搜索的课程或老师" style=" width:85%; margin-top:7px; margin-left: 10px; border-radius:6px; color: #ccc; font-size:10px; height:30px;" >
		    <a  href="index.html" id="index_search" style="float: right; font-size: 12px; line-height:44px;">取消</a>
		</header>
	</body>
	<div class="mui-content index_search"  style="background: white;">
			<div class="mui-row">
				<div class="mui-col-sm-12 mui-col-xs-12">
		           <p style="width:95%; margin-left:5%; font-size: 12px; padding-top: 10px; padding-bottom:3px; border-bottom: 1px solid #e7e7e8;">大家都在搜</p>
				</div>
				<div class="mui-col-sm-12 mui-col-xs-12">
		           <ul class="index_search_hot">
			           	<li><a href="#">心理学</a></li>
			           	<li><a href="#">财 务</a></li>
			           	<li><a href="#">英 语</a></li>
			           	<li><a href="#">摄 影</a></li>
			           	<li><a href="#">营 销</a></li>
			           	<li><a href="#">Java</a></li>
			           	<li><a href="#">C++</a></li>
			           	<li><a href="#">设 计</a></li>
		           </ul>
				</div>
				<div class="mui-col-sm-12 mui-col-xs-12">
		           <p class="index_search_history" >历史搜索记录</p>
		           <a href="#"><img src="../../resources/imgs/mobile/index_search_cha.png" style="width:15px;"></a>
				</div>
			</div>
	</div>
</html>