<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>优秀讲师</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../resources/assets/plugins/jquery.js"></script>
	    <script src="../../resources/assets/plugins/mobile/js/mui.min.js"></script>
	    <script type="text/javascript" src="../../resources/assets/mobile/front/js/index.js"></script>
	    <link href="../../resources/assets/plugins/mobile/css/mui.min.css" rel="stylesheet"/>
	    <link href="../../resources/assets/plugins/mobile/css/iconfont.css" rel="stylesheet"/>
	    <link href="../../resources/assets/mobile/common/css/common.css" rel="stylesheet"/>
	    <link href="../../resources/assets/mobile/front/css/index.css" rel="stylesheet"/>
		<script type="text/javascript">
			mui.init()
		</script>
	</head>
	<body>
		<!--优秀讲师头部-->
		<div class="teacher_top">
			<h5>
				<a href="index.html" class="mui-icon mui-icon-back back"></a>
				+ 关注
			</h5>
			<div class="detail">
				<img src="../../resources/imgs/mobile/user/people.jpg">
				<h4>小王同志</h4>
				<p>高级Web前端程序师</p>
			</div>
		</div>
		<!--//优秀讲师头部-->
		<div class="teacher_contents">
			<div class="mui-content">
				<div id="slider" class="mui-slider">
					<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<a class="mui-control-item" href="#item1mobile">
							老师经历
						</a>
						<a class="mui-control-item" href="#item2mobile">
							主讲课程
						</a>
						<a class="mui-control-item" href="#item3mobile">
							讲师寄语
						</a>
					</div>
					<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
					<div class="mui-slider-group">
						<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
							<div id="scroll1" class="mui-scroll-wrapper">
								<div class="mui-scroll">
									<div class="teacher_action">
										<div class="num">
											<h4>
												<span></span>
												2012年4月1日
											</h4>
											<h5>新增主讲课程</h5>
											<p>麦子学院嵌入式Linux专业负责人，麦子学院教学部经理；凭借
												多年开发经验和教育培训经验，对嵌入式物联网领域具有前瞻性
												理解， 设计的课程体系紧密结合目前企业需求和社会热点。授课
												实战性强，深入浅出，晦涩难懂的知识点能够被老师讲解的清晰
												明了。并能 够将企业团队开发模式带入课堂，深受广大学员的喜爱
											</p>
										</div>
										<div class="num">
											<h4>
												<span></span>
												2012年4月1日
											</h4>
											<h5>新增主讲课程</h5>
											<p>麦子学院嵌入式Linux专业负责人，麦子学院教学部经理；凭借
												多年开发经验和教育培训经验，对嵌入式物联网领域具有前瞻性
												理解， 设计的课程体系紧密结合目前企业需求和社会热点。授课
												实战性强，深入浅出，晦涩难懂的知识点能够被老师讲解的清晰
												明了。并能 够将企业团队开发模式带入课堂，深受广大学员的喜爱
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="item2mobile" class="mui-slider-item mui-control-content">
							<div id="scroll2" class="mui-scroll">
								<div class="mui-scroll">
									<div class="mui-loading">
										<div class="teacher_mainclass">
											<div class="num">
												<div class="pic">
													<img src="../../resources/imgs/mobile/user/class_pic1.jpg" alt="" title="">
												</div>
												<diV class="word">
													<h4>设计与源码分析</h4>
													<p>1000人浏览</p>
												</diV>
											</div>
											<div class="num">
												<div class="pic">
													<img src="../../resources/imgs/mobile/user/class_pic1.jpg" alt="" title="">
												</div>
												<diV class="word">
													<h4>设计与源码分析</h4>
													<p>1000人浏览</p>
												</diV>
											</div>
											<div class="num">
												<div class="pic">
													<img src="../../resources/imgs/mobile/user/class_pic1.jpg" alt="" title="">
												</div>
												<diV class="word">
													<h4>设计与源码分析</h4>
													<p>1000人浏览</p>
												</diV>
											</div>
											<div class="num">
												<div class="pic">
													<img src="../../resources/imgs/mobile/user/class_pic1.jpg" alt="" title="">
												</div>
												<diV class="word">
													<h4>设计与源码分析</h4>
													<p>1000人浏览</p>
												</diV>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="item3mobile" class="mui-slider-item mui-control-content">
							<div id="scroll3" class="mui-scroll">
								<div class="mui-scroll">
									<div class="mui-loading">
										<div class="talk-contents">
											<img src="../../resources/imgs/teacher/teacherIntroduceLinuxTea.jpg" alt="" title="">
											<p>
												师者，传道受业解惑也。IT行业是个日星月异的行业
												，经验丰富的讲师不仅会教会学生技术，还会带你全
												面认识这个行业。 我们会根据学生的特点制定更加符
												合他们自身的学习计划。我们可以更加多元化的和学
												生沟通， 把我们的经验和知识分享给他们。在未来因
												材施教是完全可以被实现的。而我们就是实现这个想法的人。
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>