<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>首页</title>
    <script src="../../resources/assets/plugins/mobile/js/mui.min.js"></script>
    <script src="../../resources/assets/plugins/jquery.js"></script>
    <script src="../../resources/assets/mobile/front/js/index.js" type="text/javascript"></script>
    <link href="../../resources/assets/plugins/mobile/css/mui.min.css" rel="stylesheet"/>
    <link href="../../resources/assets/mobile/common/css/common.css" rel="stylesheet"/>
    <link href="../../resources/assets/mobile/front/css/index.css" rel="stylesheet"/>
    <link href="../../resources/assets/plugins/mobile/css/iconfont.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</head>
<body>
	<header class="mui-bar mui-bar-nav index_nav">
	    <a class="mui-icon mui-icon-arrowleft" href="index.html"></a>
	    <h1 class="mui-title">学院员训</h1>
	    <a href="index_search.html" class="mui-icon mui-icon-search" id="index_search" style="float: right;"></a>
	</header>
	<nav class="mui-bar mui-bar-tab">
			    <a class="mui-tab-item mui-active" href="index.html">
			        <span class="mui-icon mui-icon-home"></span>
			        <span class="mui-tab-label">首页</span>
			    </a>
			    <a class="mui-tab-item" href="course.html">
			        <span class="mui-icon iconfont">&#xe633;</span>
			        <span class="mui-tab-label">课程</span>
			    </a>
			    <a class="mui-tab-item" href="find.html">
			        <span class="mui-icon mui-icon-search"></span>
			        <span class="mui-tab-label">发现</span>
			    </a>
			    <a class="mui-tab-item" href="user/user.html">
			        <span class="mui-icon mui-icon-person"></span>
			        <span class="mui-tab-label">我的</span>
			    </a>
	</nav>
	<script>
		mui('body').on('tap','a',function(){
			console.log(document.location.href);
			document.location.href=this.href;});
	</script>
	<div class="mui-content index_content">
			<div class="index_cont3" style="background-color: #EFEFF4;"/>
				
			    <div class="mui-row">
			        <div class="mui-col-xs-6 mui-col-sm-6">
			        	<dl>
			        		<dt>
			        			<img src="../../resources/imgs/mobile/index_cont3_dt1.jpg">
			        		</dt>
			        		<dd>
			        			<p class="index_cont3_name" style="color: #8f8f94;">姓名：高赫明</p>
			        			<p class="index_cont3_job" style="color: #8f8f94;">专业：电子商务WEB前端</p>
			        			<p class="index_cont3_company">公司：百度公司南京分部</p>
			        		</dd>
			        	</dl>
			        </div>
			        <div class="mui-col-xs-6 mui-col-sm-6">
			          	<dl>
			        		<dt><img src="../../resources/imgs/mobile/index_cont3_dt2.jpg"></dt>
			        		<dd>
			        			
			        			<p class="index_cont3_name" style="color: #8f8f94;">姓名：杨蕾</p>
			        			<p class="index_cont3_job" style="color: #8f8f94;">专业：JAVA程序开发</p>
			        			<p class="index_cont3_company">公司：去哪网杭州分部</p>
			        		</dd>
			        	</dl>
			        </div>
			    
			    </div>
				<div class="mui-row">
			        <div class="mui-col-xs-6 mui-col-sm-6">
			        	<dl>
			        		<dt>
			        			<img src="../../resources/imgs/mobile/index_cont3_dt1.jpg">
			        		</dt>
			        		<dd>
			        			<p class="index_cont3_name" style="color: #8f8f94;">姓名：高赫明</p>
			        			<p class="index_cont3_job" style="color: #8f8f94;">专业：电子商务WEB前端</p>
			        			<p class="index_cont3_company">公司：百度公司南京分部</p>
			        		</dd>
			        	</dl>
			        </div>
			        <div class="mui-col-xs-6 mui-col-sm-6">
			          	<dl>
			        		<dt><img src="../../resources/imgs/mobile/index_cont3_dt2.jpg"></dt>
			        		<dd>
			        			
			        			<p class="index_cont3_name" style="color: #8f8f94;">姓名：杨蕾</p>
			        			<p class="index_cont3_job" style="color: #8f8f94;">专业：JAVA程序开发</p>
			        			<p class="index_cont3_company">公司：去哪网杭州分部</p>
			        		</dd>
			        	</dl>
			        </div>
			    
			    </div>
				<div class="mui-row">
			        <div class="mui-col-xs-6 mui-col-sm-6">
			        	<dl>
			        		<dt>
			        			<img src="../../resources/imgs/mobile/index_cont3_dt1.jpg">
			        		</dt>
			        		<dd>
			        			<p class="index_cont3_name" style="color: #8f8f94;">姓名：高赫明</p>
			        			<p class="index_cont3_job" style="color: #8f8f94;">专业：电子商务WEB前端</p>
			        			<p class="index_cont3_company">公司：百度公司南京分部</p>
			        		</dd>
			        	</dl>
			        </div>
			        <div class="mui-col-xs-6 mui-col-sm-6">
			          	<dl>
			        		<dt><img src="../../resources/imgs/mobile/index_cont3_dt2.jpg"></dt>
			        		<dd>
			        			
			        			<p class="index_cont3_name" style="color: #8f8f94;">姓名：杨蕾</p>
			        			<p class="index_cont3_job" style="color: #8f8f94;">专业：JAVA程序开发</p>
			        			<p class="index_cont3_company">公司：去哪网杭州分部</p>
			        		</dd>
			        	</dl>
			        </div>
			    
			    </div>
				<div class="mui-row">
			        <div class="mui-col-xs-6 mui-col-sm-6">
			        	<dl>
			        		<dt>
			        			<img src="../../resources/imgs/mobile/index_cont3_dt1.jpg">
			        		</dt>
			        		<dd>
			        			<p class="index_cont3_name" style="color: #8f8f94;">姓名：高赫明</p>
			        			<p class="index_cont3_job" style="color: #8f8f94;">专业：电子商务WEB前端</p>
			        			<p class="index_cont3_company">公司：百度公司南京分部</p>
			        		</dd>
			        	</dl>
			        </div>
			        <div class="mui-col-xs-6 mui-col-sm-6">
			          	<dl>
			        		<dt><img src="../../resources/imgs/mobile/index_cont3_dt2.jpg"></dt>
			        		<dd>
			        			
			        			<p class="index_cont3_name" style="color: #8f8f94;">姓名：杨蕾</p>
			        			<p class="index_cont3_job" style="color: #8f8f94;">专业：JAVA程序开发</p>
			        			<p class="index_cont3_company">公司：去哪网杭州分部</p>
			        		</dd>
			        	</dl>
			        </div>
			    
			    </div>
				<div class="mui-row">
			        <div class="mui-col-xs-6 mui-col-sm-6">
			        	<dl>
			        		<dt>
			        			<img src="../../resources/imgs/mobile/index_cont3_dt1.jpg">
			        		</dt>
			        		<dd>
			        			<p class="index_cont3_name" style="color: #8f8f94;">姓名：高赫明</p>
			        			<p class="index_cont3_job" style="color: #8f8f94;">专业：电子商务WEB前端</p>
			        			<p class="index_cont3_company">公司：百度公司南京分部</p>
			        		</dd>
			        	</dl>
			        </div>
			        <div class="mui-col-xs-6 mui-col-sm-6">
			          	<dl>
			        		<dt><img src="../../resources/imgs/mobile/index_cont3_dt2.jpg"></dt>
			        		<dd>
			        			
			        			<p class="index_cont3_name" style="color: #8f8f94;">姓名：杨蕾</p>
			        			<p class="index_cont3_job" style="color: #8f8f94;">专业：JAVA程序开发</p>
			        			<p class="index_cont3_company">公司：去哪网杭州分部</p>
			        		</dd>
			        	</dl>
			        </div>
			    
			    </div>
								
			</div>
	</div>

	
</body>
</html>