<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../../resources/assets/plugins/jquery.js"></script>
	    <script src="../../../resources/assets/plugins/mobile/js/mui.min.js"></script>
	    <script type="text/javascript" src="../../../resources/assets/mobile/front/js/index.js"></script>
	    <link href="../../../resources/assets/plugins/mobile/css/mui.min.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/plugins/mobile/css/iconfont.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/mobile/common/css/common.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/mobile/front/css/index.css" rel="stylesheet"/>
		<script type="text/javascript">
			mui.init()
		</script>
	</head>
	<body>
		<!--登录头部开始-->
		<header class="mui-bar mui-bar-nav index_nav">
		    <a class="mui-icon" href="login.html"><span>登录</span></a>
		    <h1 class="mui-title"></h1>
		    <a class="mui-icon" href="register.html" style="float: right;"><span>注册</span></a>
		</header>
		<!--//登录头部结束-->
		<!--登录内容开始-->
		<div class="login_contents mui-content">
			<div class="Input">
			    <div class="mui-input-row">
			        <label>
			        	<span>
			        		<img src="../../../resources/imgs/mobile/user/name.svg" alt="" title="">
			        	</span>
			        </label>
			    <input type="text" class="mui-input-clear" placeholder="请输入用户名、手机号或者邮箱">
			    </div>
			    <div class="mui-input-row">
			        <label>
			        	<span>
			        		<img src="../../../resources/imgs/mobile/user/password.svg" alt="" title="">
			        	</span>
			        </label>
			        <input type="password" class="mui-input-password" placeholder="请输入密码">
			    </div>
			    <div class="mui-button-row">
			        <button type="button" class="mui-btn mui-btn-primary" >登录</button>
			    </div>
			</div>
			<div class="login_more">
				<div class="title">
					<span>其他登录</span>
				</div>
				<div class="icons">
					<div class="num">
						<img src="../../../resources/imgs/mobile/user/login_weixin.svg" alt="" title="">
							<span>微信登录</span>
					</div>
					<div class="num">
						<img src="../../../resources/imgs/mobile/user/login_qq.svg" alt="" title="">
							<span>QQ登录</span>
					</div>
					<div class="num">
						<img src="../../../resources/imgs/mobile/user/login_weibo.svg" alt="" title="">
							<span>微博登录</span>
					</div>
				</div>
			</div>
		</div>
		<!--//登录内容结束-->
	</body>
</html>