<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../../resources/assets/plugins/jquery.js"></script>
	    <script src="../../../resources/assets/plugins/mobile/js/mui.min.js"></script>
	    <script type="text/javascript" src="../../../resources/assets/mobile/front/js/index.js"></script>
	    <link href="../../../resources/assets/plugins/mobile/css/mui.min.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/plugins/mobile/css/iconfont.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/mobile/common/css/common.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/mobile/front/css/index.css" rel="stylesheet"/>
		<script type="text/javascript">
			mui.init()
		</script>
	</head>
	<body>
		<!--注册头部开始-->
		<header class="mui-bar mui-bar-nav index_nav">
		    <a class="mui-icon" href="course.html"><span>返回</span></a>
		    <h1 class="mui-title"></h1>
		    <a class="mui-icon" href="index_search.html" style="float: right;"><span>登录</span></a>
		</header>
		<!--//注册头部结束-->
		<!--注册内容开始-->
		<div class="register_contents mui-content">
			<div class="Input">
			    <div class="mui-input-row">
			        <label>
			        	<span>
			        		<img src="../../../resources/imgs/mobile/user/name.svg" alt="" title="">
			        	</span>
			        </label>
			    <input type="text" class="mui-input-clear" placeholder="请输入手机号码">
			    </div>
			    <div class="mui-input-row">
			        <label>
			        	<span>
			        		<img src="../../../resources/imgs/mobile/user/password.svg" alt="" title="">
			        	</span>
			        </label>
			        <input type="password" class="mui-input-password" placeholder="请输入密码">
			    </div>
			    <div class="mui-button-row">
			        <button type="button" class="mui-btn mui-btn-primary" >注册</button>
			    </div>
			</div>
		</div>
		<!--//注册内容结束-->
	</body>
</html>