<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关于我们</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../../resources/assets/plugins/jquery.js"></script>
	    <script src="../../../resources/assets/plugins/mobile/js/mui.min.js"></script>
	    <script type="text/javascript" src="../../../resources/assets/mobile/front/js/index.js"></script>
	    <link href="../../../resources/assets/plugins/mobile/css/mui.min.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/plugins/mobile/css/iconfont.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/mobile/common/css/common.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/mobile/front/css/index.css" rel="stylesheet"/>
		<script type="text/javascript">
			mui.init()
		</script>
	</head>
	<body>
		<!--关于我们头部-->
		<header class="mui-bar mui-bar-nav index_nav">
		    <a class="mui-icon mui-icon-arrowleft" href="user.html"></a>
		    <h1 class="mui-title">关于我们</h1>
		</header>
		<!--//关于我们头部-->
		<!--关于我们内容-->
		<div class="user_about_content">
			<div class="title">
				
				<a href="#about" class="add_border">关于我们</a>
				<a href="#contect">联系我们</a>
				<a href="#brand">品牌</a>
				
			</div>
			<div class="contents">
				<div class="content_about" id="about">
					<h4>关于我们</h4>
					<p>长光工程培训网站里面有大量的学习资源与视频，希望大家可以去学习。
					长光工程培训网站里面有大量的学习资源与视频，希望大家可以去学习。
					长光工程培训网站里面有大量的学习资源与视频，希望大家可以去学习。
					长光工程培训网站里面有大量的学习资源与视频，希望大家可以去学习。
					</p>
					<h4>团队介绍</h4>
					<p>这里汇聚一群有理想的人。这里汇聚一群有理想的人。</p>
					<p>我们，热爱生活，努力学习我们，热爱生活，努力学习</p>
					<p>这里汇聚一群有理想的人。这里汇聚一群有理想的人。</p>
					<p>我们，热爱生活，努力学习我们，热爱生活，努力学习</p>
					<p>这里汇聚一群有理想的人。这里汇聚一群有理想的人。</p>
					<p>我们，热爱生活，努力学习</p>
					<p>在这里，实现理想，成就梦想</p>
				</div>
				<div class="content_contect">
					<h4>联系我们</h4>
					<div>
						<p>建议或技术支持发邮件到</p>
						<p>1127654888.qq.com</p>
					</div>
					<div>
						<p>关于课程的问题发邮件到</p>
						<p>1127654888.qq.com</p>
					</div>
					<div>
						<p id="contect">合作交流发送到</p>
						<p>1127654888.qq.com</p>
					</div>
					<p>地址：吉林省长春市南关区财富中心2楼</p>
					<p>咨询QQ：11111111</p>
					<p>咨询电话：11111111</p>
				</div>
				<div class="brand" id="brand">
					<h4>品牌</h4>
					<p>
						东阳市清御府红木家具有限公司，坐落于“中国木雕之乡”的浙江东阳，是一家集“设计”、“生产”、“研发”为一体的大型专业红木家具生产企业(红木家具厂)。 　　本厂拥有多名高级工艺师和各种专业技术人员，具有高水平的开发、设计和生产能力。在产品特征上突出东阳木雕的艺术风格，木材经高温烘干处理，精雕细刻而成。品质可靠，产品远销国内外二十多个省市和地区，深受用户的青眛...

      清御府红木整合当前中国优秀的古典家居作品，形成完整丰富的系列产品组合，以古典朴实的风格，表现恒久的东方家居文化内涵。 传承古典工艺，结合现代的先进技术，经过名师的精雕细琢，生产出极具现代气息又不失古典风韵的红木家居精品。

     本公司的服务宗旨是：我们将以上乘的品质，细心的售后服务，与您精诚合作！为打造中国红木家具第一品牌而努力
					</p>
					<p>
						东阳市清御府红木家具有限公司，坐落于“中国木雕之乡”的浙江东阳，是一家集“设计”、“生产”、“研发”为一体的大型专业红木家具生产企业(红木家具厂)。 　　本厂拥有多名高级工艺师和各种专业技术人员，具有高水平的开发、设计和生产能力。在产品特征上突出东阳木雕的艺术风格，木材经高温烘干处理，精雕细刻而成。品质可靠，产品远销国内外二十多个省市和地区，深受用户的青眛...

      清御府红木整合当前中国优秀的古典家居作品，形成完整丰富的系列产品组合，以古典朴实的风格，表现恒久的东方家居文化内涵。 传承古典工艺，结合现代的先进技术，经过名师的精雕细琢，生产出极具现代气息又不失古典风韵的红木家居精品。

     本公司的服务宗旨是：我们将以上乘的品质，细心的售后服务，与您精诚合作！为打造中国红木家具第一品牌而努力
					</p>
				</div>
			</div>
		</div>
		<!--//关于我们内容-->
	</body>
</html>