<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的课程</title>
		<script src="../../../resources/assets/plugins/jquery.js"></script>
	    <script src="../../../resources/assets/plugins/mobile/js/mui.min.js"></script>
	    <script type="text/javascript" src="../../../resources/assets/mobile/front/js/index.js"></script>
	    <link href="../../../resources/assets/plugins/mobile/css/mui.min.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/plugins/mobile/css/iconfont.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/mobile/common/css/common.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/mobile/front/css/index.css" rel="stylesheet"/>
		<script type="text/javascript">
			mui.init()
		</script>
	</head>
	<body>
		
		<div class="user-class">
			<!--我的课程头部-->
			<header class="mui-bar mui-bar-nav index_nav">
			    <a class="mui-icon mui-icon-arrowleft" href="user.html"></a>
			    <h1 class="mui-title">我的课程</h1>
			</header>
			<!--//我的课程头部-->
			<div class="mui-content">
				<div id="slider" class="mui-slider">
					<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted bg_white">
						<a class="mui-control-item" href="#item1mobile">
							最近学习
						</a>
						<a class="mui-control-item" href="#item2mobile">
							我的收藏
						</a>
					</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active change_border">
						<div id="scroll1" class="mui-scroll-wrapper mui-content change_position">
							<div class="mui-scroll change_position">
								<div class="class_contents">
									<div class="num">
										<h4>玩转C++语言</h4>
										<div class="bottom">
											<div class="con_num con_pic">
												<img src="../../../resources/imgs/mobile/user/class_pic1.jpg" alt="" title="">
											</div>
											<div class="con_num con_word">
												<h5>笔记</h5>
												<p>0</p>
											</div>
											<div class="con_num con_word">
												<h5>问答</h5>
												<p>0</p>
											</div>
											<div class="con_num con_word no_border">
												<a href="#">继续学习</a>
											</div>
										</div>
									</div>
									<div class="num">
										<h4>玩转C++语言</h4>
										<div class="bottom">
											<div class="con_num con_pic">
												<img src="../../../resources/imgs/mobile/user/class_pic1.jpg" alt="" title="">
											</div>
											<div class="con_num con_word">
												<h5>笔记</h5>
												<p>0</p>
											</div>
											<div class="con_num con_word">
												<h5>问答</h5>
												<p>0</p>
											</div>
											<div class="con_num con_word no_border">
												<a href="#">继续学习</a>
											</div>
										</div>
									</div>
									<div class="num">
										<h4>玩转C++语言</h4>
										<div class="bottom">
											<div class="con_num con_pic">
												<img src="../../../resources/imgs/mobile/user/class_pic1.jpg" alt="" title="">
											</div>
											<div class="con_num con_word">
												<h5>笔记</h5>
												<p>0</p>
											</div>
											<div class="con_num con_word">
												<h5>问答</h5>
												<p>0</p>
											</div>
											<div class="con_num con_word no_border">
												<a href="#">继续学习</a>
											</div>
										</div>
									</div>
									<div class="num">
										<h4>玩转C++语言</h4>
										<div class="bottom">
											<div class="con_num con_pic">
												<img src="../../../resources/imgs/mobile/user/class_pic1.jpg" alt="" title="">
											</div>
											<div class="con_num con_word">
												<h5>笔记</h5>
												<p>0</p>
											</div>
											<div class="con_num con_word">
												<h5>问答</h5>
												<p>0</p>
											</div>
											<div class="con_num con_word no_border">
												<a href="#">继续学习</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content no_border">
						<div id="scroll2" class="mui-scroll">
							<div class="mui-scroll">
								<div class="mui-loading change_nui_loading">
										<div class="num">
											<div class="num_pic">
												<img src="../../../resources/imgs/mobile/user/favorite_pic1.jpg" alt="" title="">
											</div>
											<div class="num_word">
												<h5>设计与源码分析</h5>
												<p>400人学习</p>
											</div>
										</div>
										<div class="num">
											<div class="num_pic">
												<img src="../../../resources/imgs/mobile/user/favorite_pic1.jpg" alt="" title="">
											</div>
											<div class="num_word">
												<h5>设计与源码分析</h5>
												<p>400人学习</p>
											</div>
										</div>
										<div class="num">
											<div class="num_pic">
												<img src="../../../resources/imgs/mobile/user/favorite_pic1.jpg" alt="" title="">
											</div>
											<div class="num_word">
												<h5>设计与源码分析</h5>
												<p>400人学习</p>
											</div>
										</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>