<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>消息中心</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../../resources/assets/plugins/jquery.js"></script>
	    <script src="../../../resources/assets/plugins/mobile/js/mui.min.js"></script>
	    <script type="text/javascript" src="../../../resources/assets/mobile/front/js/index.js"></script>
	    <link href="../../../resources/assets/plugins/mobile/css/mui.min.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/plugins/mobile/css/iconfont.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/mobile/common/css/common.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/mobile/front/css/index.css" rel="stylesheet"/>
		<script type="text/javascript">
			mui.init()
		</script>
	</head>
	<body>
		<!--消息中心头部-->
		<header class="mui-bar mui-bar-nav index_nav">
		    <a class="mui-icon mui-icon-arrowleft" href="user.html"></a>
		    <h1 class="mui-title">消息中心</h1>
		</header>
		<!--//消息中心头部-->
		<!--消息中心内容-->
		<div class="user_news_contents mui-content">
			<ul>
				<li>
					<div class="pic">
						<img src="../../../resources/imgs/mobile/user/user_news1.jpg" alt="" title="">
					</div>
					<div class="words">
						<h4>长光工程师开课啦</h4>
						<p>欢迎大家前来报名！欢迎大家前</p>
					</div>	
					<div class="date">
						<p>12-22</p>
						<em>21</em>
					</div>
				</li>
				<li>
					<div class="pic">
						<img src="../../../resources/imgs/mobile/user/user_news1.jpg" alt="" title="">
					</div>
					<div class="words">
						<h4>长光工程师开课啦</h4>
						<p>欢迎大家前来报名！欢迎大家前</p>
					</div>	
					<div class="date">
						<p>12-22</p>
						<em>21</em>
					</div>
				</li>
			</ul>
		</div>
		<!--//消息中心内容-->
	</body>
</html>