<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>历史记录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../../resources/assets/plugins/jquery.js"></script>
	    <script src="../../../resources/assets/plugins/mobile/js/mui.min.js"></script>
	    <script type="text/javascript" src="../../../resources/assets/mobile/front/js/index.js"></script>
	    <link href="../../../resources/assets/plugins/mobile/css/mui.min.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/plugins/mobile/css/iconfont.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/mobile/common/css/common.css" rel="stylesheet"/>
	    <link href="../../../resources/assets/mobile/front/css/index.css" rel="stylesheet"/>
		<script type="text/javascript">
			mui.init()
		</script>
	</head>
	<body>
		<!--历史纪录头部-->
		<header class="mui-bar mui-bar-nav index_nav">
		    <a class="mui-icon mui-icon-arrowleft" href="user.html"></a>
		    <h1 class="mui-title">历史记录</h1>
		</header>
		<!--//历史纪录头部-->
		<!--历史纪录内容-->
		<div class="user_history_content">
			<div class="num">
				<h4>
					<span></span>
					4月1日
				</h4>
				<h5>学习C++高级程序语言视频学习学习学习学习学习学习学习学习学习</h5>
				<p>1.1基础篇</p>
			</div>
			<div class="num">
				<h4>
					<span></span>
					4月12日
				</h4>
				<h5>学习C++高级程序语言视频</h5>
				<p>1.1基础篇</p>
			</div>
			<div class="num">
				<h4>
					<span></span>
					4月22日
				</h4>
				<h5>学习C++高级程序语言视频</h5>
				<p>1.1基础篇</p>
			</div>
		</div>
		<!--//历史纪录内容-->
	</body>
</html>